<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Profile Cards</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <div class="container">
        <!-- Row 1 -->
        <div class="profile-row">
            <a href="{% url 'profile' name='airi' %}" class="profile-link">
                <div class="profile-card" data-name="airi">
                    <img src="{% static 'images/airi.jpg' %}" alt="Airi">
                    <p>Airi</p>
                </div>
            </a>
            <a href="{% url 'profile' name='ayaka' %}" class="profile-link">
                <div class="profile-card" data-name="airi">
                    <img src="{% static 'images/ayaka.jpg' %}" alt="ayaka">
                    <p>Ayaka</p>
                </div>
            </a>
            <a href="{% url 'profile' name='hayato' %}" class="profile-link">
                <div class="profile-card" data-name="airi">
                    <img src="{% static 'images/hayato.jpg' %}" alt="hayato">
                    <p>Hayato</p>
                </div>
            </a>
            <a href="{% url 'profile' name='hinako' %}" class="profile-link">
                <div class="profile-card" data-name="hinako">
                    <img src="{% static 'images/hinako.jpg' %}" alt="hinako">
                    <p>Hinako</p>
                </div>
            </a>
            <a href="{% url 'profile' name='kanon' %}" class="profile-link">
                <div class="profile-card" data-name="kanon">
                    <img src="{% static 'images/kanon.jpg' %}" alt="kanon">
                    <p>Kanon</p>
                </div>
            </a>
        </div>
        <!-- Row 2 -->
        <div class="profile-row">
            <a href="{% url 'profile' name='kei' %}" class="profile-link">
                <div class="profile-card" data-name="kei">
                    <img src="{% static 'images/kei.jpg' %}" alt="kei">
                    <p>Kei</p>
                </div>
            </a>
            <a href="{% url 'profile' name='mio' %}" class="profile-link">
                <div class="profile-card" data-name="mio">
                    <img src="{% static 'images/mio.jpg' %}" alt="mio">
                    <p>Mio</p>
                </div>
            </a>
            <a href="{% url 'profile' name='nana' %}" class="profile-link">
                <div class="profile-card" data-name="nana">
                    <img src="{% static 'images/nana.jpg' %}" alt="nana">
                    <p>Nana</p>
                </div>
            </a>
            <a href="{% url 'profile' name='raimu' %}" class="profile-link">
                <div class="profile-card" data-name="raimu">
                    <img src="{% static 'images/raimu.jpg' %}" alt="raimu">
                    <p>Raimu</p>
                </div>
            </a>
            <a href="{% url 'profile' name='riko' %}" class="profile-link">
                <div class="profile-card" data-name="riko">
                    <img src="{% static 'images/riko.jpg' %}" alt="riko">
                    <p>Riko</p>
                </div>
            </a>
        </div>
        <!-- Row 3 -->
        <div class="profile-row">
            <a href="{% url 'profile' name='rin' %}" class="profile-link">
                <div class="profile-card" data-name="rin">
                    <img src="{% static 'images/rin.jpg' %}" alt="rin">
                    <p>Rin</p>
                </div>
            </a>
            <a href="{% url 'profile' name='sugi' %}" class="profile-link">
                <div class="profile-card" data-name="sugi">
                    <img src="{% static 'images/sugi.jpg' %}" alt="sugi">
                    <p>Sugi</p>
                </div>
            </a>
            <a href="{% url 'profile' name='taiga' %}" class="profile-link">
                <div class="profile-card" data-name="taiga">
                    <img src="{% static 'images/taiga.jpg' %}" alt="taiga">
                    <p>Taiga</p>
                </div>
            </a>
            <a href="{% url 'profile' name='takako' %}" class="profile-link">
                <div class="profile-card" data-name="takako">
                    <img src="{% static 'images/takako.jpg' %}" alt="takako">
                    <p>Takako</p>
                </div>
            </a>
            <a href="{% url 'profile' name='yasu' %}" class="profile-link">
                <div class="profile-card" data-name="yasu">
                    <img src="{% static 'images/yasu.jpg' %}" alt="yasu">
                    <p>Yasu</p>
                </div>
            </a>
        </div>  
        <!-- Row 4 -->
        <div class="profile-row">
            <a href="{% url 'profile' name='zenji' %}" class="profile-link">
                <div class="profile-card" data-name="zenji">
                    <img src="{% static 'images/zenji.jpg' %}" alt="zenji">
                    <p>Zenji</p>
                </div>
            </a>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/.jpg' %}" alt="Name2">
                <p></p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/.jpg' %}" alt="Name3">
                <p></p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/.jpg' %}" alt="Name4">
                <p></p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/.jpg' %}" alt="Name5">
                <p></p>
            </div>
        </div>      
        <!-- ... Rows 2 to 5 (similar to Row 1) ... -->
        <!-- Row 6 (only 3 profile cards) -->
        <div class="profile-row">
            <div class="profile-card">
                <img src="{% static 'images/image26.jpg' %}" alt="Name26">
                <p>Name26</p>
            </div>
            <div class="profile-card">
                <img src="{% static 'images/image27.jpg' %}" alt="Name27">
                <p>Name27</p>
            </div>
            <div class="profile-card">
                <img src="{% static 'images/image28.jpg' %}" alt="Name28">
                <p>Name28</p>
            </div>
        </div>
    </div>

</body>
</html>
