<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Profile Cards</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>

    <div class="container">
        <!-- Row 1 -->
        <div class="profile-row">
            <div class="profile-card" data-name="airi">
                <img src="{% static 'images/airi.jpg' %}" alt="Name1">
                <p>Airi</p>
            </div>
            <div class="profile-card" data-name="ayaka">
                <img src="{% static 'images/ayaka.jpg' %}" alt="Name2">
                <p>Ayaka</p>
            </div>
            <div class="profile-card" data-name="hayato">
                <img src="{% static 'images/hayato.jpg' %}" alt="Name3">
                <p>Hayato</p>
            </div>
            <div class="profile-card" data-name="hinako">
                <img src="{% static 'images/hinako.jpg' %}" alt="Name4">
                <p>Hinako
            </div>
            <div class="profile-card" data-name="kanon">
                <img src="{% static 'images/kanon.jpg' %}" alt="Name5">
                <p>Kanon</p>
            </div>
        </div>
        <!-- Row 2 -->
        <div class="profile-row">
            <div class="profile-card" data-name="kei">
                <img src="{% static 'images/kei.jpg' %}" alt="Name1">
                <p>Kei</p>
            </div>
            <div class="profile-card" data-name="mio">
                <img src="{% static 'images/mio.jpg' %}" alt="Name2">
                <p>Mio</p>
            </div>
            <div class="profile-card" data-name="nana">
                <img src="{% static 'images/nana.jpg' %}" alt="Name3">
                <p>Nana</p>
            </div>
            <div class="profile-card" data-name="raimu">
                <img src="{% static 'images/raimu.jpg' %}" alt="Name4">
                <p>Raimu</p>
            </div>
            <div class="profile-card" data-name="riko">
                <img src="{% static 'images/riko.jpg' %}" alt="Name5">
                <p>Riko</p>
            </div>
        </div>
        <!-- Row 3 -->
        <div class="profile-row">
            <div class="profile-card" data-name="rin">
                <img src="{% static 'images/rin.jpg' %}" alt="Name1">
                <p>Rin</p>
            </div>
            <div class="profile-card" data-name="sugi">
                <img src="{% static 'images/sugi.jpg' %}" alt="Name2">
                <p>Sugi</p>
            </div>
            <div class="profile-card" data-name="taiga">
                <img src="{% static 'images/taiga.jpg' %}" alt="Name3">
                <p>Tiaga</p>
            </div>
            <div class="profile-card" data-name="takako">
                <img src="{% static 'images/takako.jpg' %}" alt="Name4">
                <p>Takako</p>
            </div>
            <div class="profile-card" data-name="yasu">
                <img src="{% static 'images/yasu.jpg' %}" alt="Name5">
                <p>Yasu</p>
            </div>
        </div>  
        <!-- Row 4 -->
        <div class="profile-row">
            <div class="profile-card" data-name="zenji">
                <img src="{% static 'images/zenji.jpg' %}" alt="Name1">
                <p>Zenji</p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/mio.jpg' %}" alt="Name2">
                <p>Ayaka</p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/nana.jpg' %}" alt="Name3">
                <p>Hayato</p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/raimu.jpg' %}" alt="Name4">
                <p>Hinako</p>
            </div>
            <div class="profile-card" data-name="">
                <img src="{% static 'images/riko.jpg' %}" alt="Name5">
                <p>Kanon</p>
            </div>
        </div>      
        <!-- ... Rows 2 to 5 (similar to Row 1) ... -->
        <!-- Row 6 (only 3 profile cards) -->
        <div class="profile-row">
            <div class="profile-card">
                <img src="{% static 'images/image26.jpg' %}" alt="Name26">
                <p>Name26</p>
            </div>
            <div class="profile-card">
                <img src="{% static 'images/image27.jpg' %}" alt="Name27">
                <p>Name27</p>
            </div>
            <div class="profile-card">
                <img src="{% static 'images/image28.jpg' %}" alt="Name28">
                <p>Name28</p>
            </div>
        </div>
    </div>

</body>
</html>
